* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	color: #444;
	outline: none;
}

body {    
	background-color: #f4f4f4;
}

.invisible_block
{
	position:absolute;
	clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}