.main {
    width: 70vw;
    margin: 10px auto;
    padding: 20px;
    border-radius: 5px;
    min-height: calc(100% - 200px);
}

.main__image {
    position: relative;
    width: 25vw;
    margin: 20px auto;
}

.main__image > a
{
    display: block;
    width: 100%;
}

.main__image > a > img
{
    width: 100%;
}

.main__nav {
    width: 100%;
    height: 80px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #A52A2A;
}

.nav__list {
    width: 100%;
    height: 80px;
    text-align: center;
    list-style-type: none;
}

.nav__item {
    display: inline-block;
    padding: 0px 20px;
    height: 80px;
    line-height: 80px;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
}

.nav__item > a {
    color: inherit;
    font: inherit;
    text-transform: inherit;
    letter-spacing: inherit;
    width: 100%;
    height: 100%;
    text-decoration: none;
    height: 80px;
    line-height: 80px;
}

.blog__wrapper {
    width: 100%;
    background-color: #eaeaea;
    overflow: auto;
}

.blog__content {
    width: 70%;
    float: left;
    background-color: #eaeaea;
    padding: 20px;
    border-bottom-left-radius: 5px;
}

.blog__sidebar {
    width: 30%;
    float: left;
    background-color: #eaeaea;
    padding: 20px;
    border-bottom-right-radius: 5px;
}

.blog__sidebar > h2 {
    color: #A52A2A;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 10px;
}

.blog__sidebar > h2:not(:first-of-type) {
    margin-top: 30px;   
}

.blog__popular__tags {
    list-style-type: decimal;
    padding-left: 20px;
}

.blog__popular__tags > li {
    height: 25px;
    width: 100%;
}

.blog__popular__tags > li > a {
    height: 25px;
    width: 100%;
    line-height: 25px;
    text-transform: capitalize;
}

.blog__entry {
    width: 100%;  
    overflow: auto;
    background-color: white;
    border-radius: 3px;
    display: block;
    padding: 20px;
    text-decoration: none;
    outline: none;
}

.blog__entry:not(:first-child) {    
    margin-top: 1vh;
}

.blog__entry__header {
    margin-bottom: 10px;
}

.blog__entry__header > h2 {
    color: #444;
    font-size: 20px;
    line-height: 30px;
    width: 80%;
    float: left;
    font-weight: normal;
    letter-spacing: 1px;
}


.blog__entry__header > .blog__entry__date {
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    width: 20%;
    float: left;
    text-align: right;
    color: gray;
}

.blog__entry > p {
    width: 80%;
    line-height: 1.5;
    color: #5E5E5E;
}

.blog__entry__image
{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
}

.blog__entry__image__spec
{
    width: 100%;
}

.blog__fullentry {
    background-color: white;
    border-radius: 3px;
    padding: 20px;
}

.blog__fullentry__title {
    display: block;
    line-height: 40px;
    width: 100%;
    font-weight: normal;
}

.blog__fullentry__date {
    margin: 5px 0px 15px 0px;
    width: 100%;
    height: 25px;
    color: gray;
    font-size: 13px;
    line-height: 25px;
    display: block;
}

.blog__fullentry__text {
    margin-bottom: 25px;
    width: 100%;
}

.blog__fullentry__tags {
    width: 100%;
}

.blog__fullentry__tags > a {
    display: inline-block;
    height: 20px;
    color: white;
    font-size: 10px;
    line-height: 20px;
    border-radius: 3px;
    padding: 0px 10px;
    background-color: #A52A2A;
    margin-right: 5px;
    text-decoration: none;
    text-transform: capitalize;
}

.blog__search {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.blog__search__bar {
    width: 100%;
    height: 30px;
    background-color: white;
    border: 1px solid #A52A2A;
    padding: 2px 10px;
    line-height: 26px;
    outline: none;
}

.blog__social__media {
    display: block;
}

.social__media__badge {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    border-radius: 3px;
    flex-direction: row;
    margin-bottom: 10px;
}

.social__media__badge__icon {
    height: 45px;
    width: 45px;
    margin: 7px;
}

.social__media__badge__content {
    flex: 1;
    height: 60px;
    padding: 0 10px;
}

.social__media__badge__title {
    height: 35px;
    line-height: 35px;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 16px;
}

.social__media__badge__desc {
    height: 25px;
    letter-spacing: 1px;    
    font-size: 13px;
    color: gray;
    text-decoration: none;
}

.blog__fullentry__commentsection {
    background-color: white;
    border-radius: 3px;
    padding: 10px;
    margin-top: 25px;   
}

.blog__fullentry_comments {
    margin-bottom: 25px;   
}

.comment {
    padding: 0px 10px;
}

.comment:not(:first-of-type) {
    margin-top: 20px;
}

.comment:first-of-type {
    padding-top: 10px;
}

.comment__data {
    width: 100%;
    display: block;
    overflow: auto;
}

.comment__name {
    float: left;
    line-height: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
}

.comment__date {
    float: right;
    line-height: 25px;
    font-weight: normal;
    font-size: 12px;
    color: gray;
}

.comment__text {
    clear: both;
    width: 100%;
    line-height: 1.5;
    margin-top: 5px;
}

.blog__fullentry__newcomment {
    width: 80%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.blog__fullentry__newcomment input:not([type="submit"]) {
    width: 47.5%;
    float: left;
}

.blog__fullentry__newcomment input:not([type="submit"]),
.blog__fullentry__newcomment textarea {
    height: 30px;
    background-color: white;
    border: 1px solid #A52A2A;
    padding: 2px 10px;
    line-height: 26px;
    outline: none;
    margin-bottom: 10px;
}

.blog__fullentry__newcomment textarea {
    height: 150px;
    width: 100%;
}

.blog__fullentry__newcomment input[type="submit"], 
.blog__fullentry__newcomment button {
    height: 30px;
    background-color: #A52A2A;
    cursor: pointer;
    outline: none;
    padding: 0px 10px;
    line-height: 30px;
    color: white;
    border: none;
    display: block;
    text-align: center;
}

.post__page
{
    border-radius: 2px;
    line-height: 25px;
    height: 25px;
    width: 35px;
    float: left;
    text-align: center;
    background: #A52A2A;
    color: #FFFFFF;
    margin-top: 5px;
    cursor: pointer;
}

.post__page:not(:first-of-type) {
    margin-left: 5px;   
}

.post__page:hover
{
    background: #FFFFFF;
    color: #A52A2A;
}

.post__page_disabled
{
    border-radius: 2px;
    line-height: 25px;
    height: 25px;
    width: 35px;
    float: left;
    text-align: center;
    background: rgba(165, 42, 42, 0.3);
    color: #FFFFFF;
    margin-top: 5px;
    cursor:default;
}

.post__page_disabled:not(:first-of-type) {
    margin-left: 5px;   
}