/**
 * GBlog
 *
 * Autor: GOLDWINGSTUDIOS - goldwingstudios.de
 * License: (CC BY-SA 4.0) - http://creativecommons.org/licenses/by-sa/4.0/
 * 
 */

div.pw_changer_container
{
    position: relative;
    top: 25px;
    left: 25px;
    width: 450px;
}

div.pw_changer
{
    position: relative;
    margin-top: 15px;
}

div.change_password_retry
{
    position: relative;
    top: 25px;
    left: 0px;
    height: 25px;
    width: 150px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px #000000 solid;
    cursor: pointer;
}

div.change_password_retry_text
{
    position: relative;
    height: 22px;
    width: 127px;
    margin: 0 auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


input.pw_input
{
    position: absolute;
    left: 200px;
    width: 150px;
}

input.pw_submit
{
    position: relative;
    left: 200px;
    width: 150px;
}


