/**
 * GBlog
 *
 * Autor: GOLDWINGSTUDIOS - goldwingstudios.de
 * License: (CC BY-SA 4.0) - http://creativecommons.org/licenses/by-sa/4.0/
 * 
 */

div.comment_page
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

div.comment
{
    position: relative;
    display: inline-block;
    margin: 5px;
    margin-bottom: 0px;
    width: 350px;
    height: 375px;
    background: #000000;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

div.comment_name
{
    color: #ffffff;
    margin-left: 10px;
}

div.comment_date
{
    color: #ffffff;
    margin-left: 10px;
}

div.comment_text
{
    position: relative;
    color: #ffffff;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 10px;
}

div.comment_confirm
{
    position: relative;
    height: 40px;
    width: 85px;
    background: #43B252;
    float: left;
    margin-top: 10px;
    cursor: pointer;
}

div.comment_delete
{
    position: relative;
    height: 40px;
    width: 85px;
    background: #ff0000;
    float: right;
    margin-top: 10px;
    cursor: pointer;
}

div.comment_edit_text
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    width: 56px;
    height: 25px;
    cursor: pointer;
    font-weight: bold;
}