/**
 * GBlog
 *
 * Autor: GOLDWINGSTUDIOS - goldwingstudios.de
 * License: (CC BY-SA 4.0) - http://creativecommons.org/licenses/by-sa/4.0/
 * 
 */

 div.start
 {
    position: relative;
    margin: 50px auto;
    width: 90%;
    z-index: 100;
}

div.blog_posts
{
    position: relative;
    width: 771px;
    background: #FFFFFF;
    min-height: 450px;
    border-radius: 0px 15px 0px 15px;
    -moz-border-radius: 0px 15px 0px 15px;
    -webkit-border-radius: 0px 15px 0px 15px;
}
div.blog_post_container
{
    width: 774px;
    background: #FFFFFF;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    /*    min-height: 200px;*/
}

div.post_tags
{
    position: relative;
    top: 10px;
    left: 25px;
    padding-bottom: 20px;
}

div.blog_post
{
    position: relative;
    width: 99%;
    min-height: 130px;
    margin-bottom: 10px;


    border: 2px solid rgb(0, 0, 0);
    border: 2px solid rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
}

div.function_category
{
    position: relative;
    margin: 35px;
    background: orange;
    width: 225px;
    min-height: 100px;
    padding: 15px;

    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
}

div.function_category > ul
{
    list-style: none;
}

div.post_title
{
    position: relative;
    top: 10px;
    left: 10px;
}

div.post_date
{
    position: absolute;
    top: 24px;
    left: 635px;
}

div.post_text
{
    margin-top: 50px;
    margin-left: 10px;
    width: 735px;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/LOGIN//LOGIN//LOGIN//LOGIN//LOGIN//LOGIN//LOGIN//LOGIN//LOGIN//LOGIN//LOGIN//LOGIN//LOGIN//LOGIN//LOGIN//LOGIN//LOGIN//LOGIN/
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

div.login_form__login
{
    position: relative;
    width: 45%;
    margin: 0 auto;
}

div.login_form__explanation
{
    position: relative;
    width: 45%;
    margin: 0 auto;
    color: #FFFFFF;
    margin-bottom: 15px;
}

div.login_form__explanation > h1
{
    width: 100%;
    height: 43px;
    margin: 45px auto;
    margin-bottom: 0;
    text-align: center;
}

div.login_form__explanation > h3
{
    position: relative;
    text-align: center;
    width: 85%;
    height: 35%;
    margin: 0 auto;
}

div.login_header
{
    position: relative;
    margin-top: 35px;
    margin-left: 45px;
}

div.login_text
{
    position: relative;
    margin-top: 25px;
    margin-left: 45px;
}

div.login_form
{
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 55%;
    height: 375px;
    background: rgba(75, 75, 75, 0.6);
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 2px #a52a2a solid;
}

div.login_form_input_usr
{
    position: relative;
    text-align: center;
}

div.login_form_input_psw
{
    position: relative;
    text-align: center;
}

div.login_form_submit
{
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    text-align: center;
}

.login_input
{
    display: block;
    -webkit-border-radius:4px;
    -moz-border-radius:4px; 
    border-radius: 4px;
}

.login_form_text
{
    font-size: 22px;
    margin-left: 2px;
    color: #FFFFFF;
}

.login_form_input
{
    width: 75%;
    margin: 0 auto;
}

.submit_button
{
    text-decoration:none; text-align:center; 
    padding:11px 32px; 
    border:solid 1px #004F72; 
    -webkit-border-radius:4px;
    -moz-border-radius:4px; 
    border-radius: 4px; 
    font:15px Georgia, "Times New Roman", Times, serif; 
    font-weight:bold; 
    color:#FFFFFF; 
    background:#a52a2a; 
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
    opacity:0.86; 
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=86); 
    filter: alpha(opacity=86); 
    text-shadow: 0px 0px 6px #ffffff; 
    filter: dropshadow(color=#ffffff, offx=0, offy=0);
}
.submit_button:hover
{
 padding:11px 32px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:15px Georgia, "Times New Roman", Times, serif; 
 font-weight:bold; 
 color:#FFFFFF; 
 background: #a30c0c; 
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 4px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 4px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 4px #ffffff;  

 text-shadow: 0px 0px 6px #ffffff; 
 filter: dropshadow(color=#ffffff, offx=0, offy=0);
}

span.post_title_t
{
    font-size: 28px;
    text-decoration: underline;
    font-family: products_2;
    color: darkorange;
}

span.post_date_text
{
    font-family: products_2;
}

span.post_text_t
{
    font-family: products_2;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/