/**
 * GBlog
 *
 * Autor: GOLDWINGSTUDIOS - goldwingstudios.de
 * License: (CC BY-SA 4.0) - http://creativecommons.org/licenses/by-sa/4.0/
 * 
 */

div.AddUserForm
{
    position: absolute;
    display: none;
    top: 0px;
    left: 450px;
}

div.user_name_container > input
{
    position: absolute;
    left: 100px;
}

div.user_password_container > input
{
    position: absolute;
    left: 100px;
}

div.CloseAddForm
{
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    width: 50px;
    float: left;
}

div.submit_NewUser
{
    width: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    float: left;
}